/* .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
  } 
  */

  /* .nav {
    background-color: black;
    color: black;
    background: black;
  } */

  #loginButton{
    border: 1.5px solid rgb(204, 204, 204);
    border-radius: 4px;
  }

  
  .nav-item.active .nav-link{
    background-color: rgb(170, 169, 169);
    color: rgb(43, 43, 43);
    height: 100%;
    
  } 
  .navbar.navbar-expand-md.navbar-dark.bg-dark{
    padding: 2;
  }