/* .collapse {
    display: none;
    visibility: hidden;
}


@media (min-width: 768px){
    
.navbar-collapse.collapse {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
    visibility: visible!important;
}
}


@media (min-width: 768px){
    .navbar-left {
        float: left!important;
    }
} */
