<p>about works!</p>
<hr>
<div class="container mt-5">
    <div class="row">
      <div class="col-lg-6">
        <h2>About Our Movie App</h2>
        <p>
          Welcome to our movie app! We are passionate about movies and created this app to help you discover and enjoy the best films out there.
        </p>
        <p>
          Our mission is to provide you with a curated selection of top-rated movies, along with detailed information and user reviews.
        </p>
      </div>
      <div class="col-lg-6">
        <img src="assets/about-image.jpg" alt="Movie App" class="img-fluid" />
      </div>
    </div>
  
    <div class="row mt-4">
      <div class="col">
        <h3>Meet Our Team</h3>
      </div>
    </div>
  
    <div class="row mt-2">

      <div class="col-md-4">
        <div class="card shadow-sm">
          
          <div class="card-body row">
            <div class="col-6">
                <h5 class="card-title">Shams Scott</h5>
                <p class="card-text">Frontend Developer</p>
            </div>
            <div class="col-6">
                <img src="../../assets/team-member1.png" alt="Team Member 1" />
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card shadow-sm">
          <div class="card-body row">
            <div class="col-6">
                <h5 class="card-title">Shams Smith</h5>
                <p class="card-text">Backend Developer</p>

            </div>
            <div class="col-6">
                <img src="../../assets/team-member2.png" alt="Team Member 2"  />
          
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card shadow-sm">
          <div class="card-body row">
            <div class="col-6">
                <h5 class="card-title">Shams Sanchez</h5>
                <p class="card-text">UI/UX Designer</p>
            </div>
            <div class="col-6">
                <img src="../../assets/team-member3.gif" alt="Team Member 3" />
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  