<p>login works!</p>

<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow-lg">
            
          <div class="card-header text-center">
            <h2>Login</h2>
          </div>

          <div class="card-body ">

            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
              
              <div class="mb-3 form-group">
                <label for="email" class="form-label">Email</label>
                <input
                  #email = 'ngModel'
                  ngModel
                  type="email"
                  id="email"
                  placeholder="Enter your email"
                  name="email"
                  class="form-control"
                  email
                  required>
                  <span class="help-block">
                    <div *ngIf="email.invalid && email.touched" class="text-danger" style="font-size:smaller;">&nbsp; Please enter a valid email!</div>
                  
                  </span>
                  <!-- <div *ngIf="loginForm.get('email')?.hasError('required')&& f.form.controls.email" class="text-danger" style="font-size:smaller;">&nbsp;&nbsp; Email is required.</div>
                  <div *ngIf="loginForm.get('email')?.hasError('email')" class="text-danger">Invalid email format.</div> -->

              </div>

              <div class=" form-group mb-3">
                <label for="password" class="form-label">Password</label>
                <input
                  #password = 'ngModel'
                  ngModel
                  type="password"
                  id="password"
                  name="password"
                  class="form-control"
                  placeholder="Enter your password"
                  required
                  password>
                  <span class="help-block">
                    <div *ngIf="password.invalid && password.touched" class="text-danger" style="font-size:smaller;">&nbsp; Please enter a valid password!</div>
                  
                  </span>
              </div>

              <div class="d-grid">
                <button 
                type="submit" 
                class="btn btn-primary"
                [disabled]="f.invalid" >Login</button>
              </div>

            </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  