/* fixed header stying */
app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; 
}

/* app body styling */
.container-fluid{
  padding-top: 70px;
  padding-bottom: 10px;
}
