
.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; 
}
mat-progress-spinner{
  width: 100px; 
  height: 100px; 
  fill: white; 
}



.card-text {
display: -webkit-box;
-webkit-line-clamp: 2; /* Limit wraping to 2 lines */
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
}

.card-title {
white-space: nowrap;    
overflow: hidden;
text-overflow: ellipsis;
}
    

#goUp {
  position: fixed;
  bottom: 70px;
  right: 20px;
  opacity: 60%; 
}
#goDown {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 60%; 
}
button.move{
  border-radius: 100%;
  
  /* border: 0.5px solid black; */
}

button.more{
  opacity: 90%;
}


    