<!-- <p>catalogue works!</p> -->

<div class="spinner-container" *ngIf="isLoading">
  <mat-progress-spinner
    class="custom-spinner"
    mode="indeterminate"
    diameter="200"
  ></mat-progress-spinner>
</div>

<div *ngIf="!isLoading" class="container-fluid" >
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let movie of movies">
      <div class="card mb-4 shadow">
        <a [routerLink]="['/movie-details',movie.id]" >
          <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" class="card-img-top" alt="{{ movie.title }}">
        </a>
        
        <div class="card-body" >
          <h5 class="card-title">{{ movie.title }}</h5>
          <p class="card-text">{{ movie.overview }}</p>
          <p class="card-text">Release Date: {{ movie.release_date }}</p>

          <div class="mt-auto" style="text-align: center;">
            <a [routerLink]="['/movie-details',movie.id]" id="detailsButton" *ngIf="movie.id">
              <button class="btn btn-primary">Movie Details</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <mat-paginator
  ></mat-paginator> -->

  <div class="row" >
    <div class="col-sm-12">
      <div class="mt-auto" style="text-align: center;">
        <a  (click)="loadMoreMovies()" >
          <button class="more btn btn-secondary shadow" >Load More Movies...</button>
        </a>
      </div>
    </div>
  </div>
  

</div>


<div id="goUp" class="mt-auto" >
  <a  (click)="goUp()" >
    <button class="move btn btn-secondary" >
      <i class="bi bi-arrow-up"></i> 
    </button>
  </a>
</div>

<div id="goDown" class="mt-auto ">
  <a  (click)="goDown()" >
    <button class="move btn btn-secondary" >
      <i class="bi bi-arrow-down"></i>
    </button>
  </a>
</div>


