<p>catalogue works!</p>

<div class="container">
    <div class="row">
        <h2>Popular Movies</h2>
        <ul>
            <p> the movie list length is "{{no}}"</p>
            <p>movie name: {{myMovie.movieName}}</p>
            <p> the movie date is "{{myMovie.releaseDate}}"</p>
            <!-- <p> the movie list length is "{{movies[0]? movies[0] : 'this is an empty list'}}"</p> -->
            <li *ngFor="let movie of movies2">{{ movie.title }}</li>
        
        </ul>
    </div>
</div>