
/* card styles */
.card-text {
display: -webkit-box;
-webkit-line-clamp: 2; /* limit wrapiing to 2 lines */
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
}
.card-title {
white-space: nowrap;    
overflow: hidden;
text-overflow: ellipsis;
}
    
/* buttons styles */
#goUp {
  position: fixed;
  bottom: 70px;
  right: 20px;
  opacity: 60%; 
}
#goDown {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 60%; 
}
button.move{
  border-radius: 100%;
}
button.more{
  opacity: 90%;
}


    