<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg">
        <div class="card-header text-center">
          <h2>{{ 'login.header' | translate }}</h2>
        </div>

        <div class="card-body">
          <form (ngSubmit)="onSubmit(form)" #form="ngForm">
            <div class="mb-3 form-group">
              <label for="email" class="form-label">{{ 'login.emailLabel' | translate }}</label>
              <input
                #email="ngModel"
                ngModel
                type="email"
                id="email"
                placeholder="{{ 'login.emailPlaceholder' | translate }}"
                name="email"
                class="form-control"
                email
                required
              >
              <span class="help-block">
                <div *ngIf="email.invalid && email.touched" class="text-danger" style="font-size: smaller;">&nbsp; {{ 'login.emailValidation' | translate }}</div>
              </span>
            </div>

            <div class="form-group mb-3">
              <label for="password" class="form-label">{{ 'login.passwordLabel' | translate }}</label>
              <input
                #password="ngModel"
                ngModel
                type="password"
                id="password"
                name="password"
                class="form-control"
                placeholder="{{ 'login.passwordPlaceholder' | translate }}"
                required
                password
              >
              <span class="help-block">
                <div *ngIf="password.invalid && password.touched" class="text-danger" style="font-size: smaller;">&nbsp; {{ 'login.passwordValidation' | translate }}</div>
              </span>
            </div>

            <div class="d-grid">
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="form.invalid"
              >
                {{ 'login.loginButton' | translate }}
              </button>
            </div>

            <div class="error-message" *ngIf="errorMessage" class="text-danger" style="font-size: smaller;">&nbsp; {{ 'login.errorMessage' | translate }}</div>

            <div class="login-footer">
              <p class="footer-text">{{ 'login.newHereText' | translate }}</p>
              <a class="footer-link" [routerLink]="['/signup']">{{ 'login.signUpLink' | translate }}</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
